<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angularjs-directive-dy示例</title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="directive/style/main.css">
    <style type="text/css">
        .block-circle {
            width: 200px;
            height: 200px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            background-color: #999;
        }
    </style>
</head>
<body>
<header class="navbar navbar-default">
    <div class="container">
        <h3>angularjs-directive-dy示例</h3>
    </div>
</header>
<div ng-app="test" class="container">
    <!--dy-tooltip 指令事例-->
    <div ng-controller="tooltipCtrl">
        <dy-panel panel-title="dy-tooltip 指令" theme="primary">
            <p>鼠标悬浮在圆上出现提示文字</p>
            <div class="block-circle" dy-tooltip data-tip="提示文字"></div>
        </dy-panel>
    </div>
    <!--dy-step 指令-->
    <div ng-controller="stepCtrl as $ctrl">
        <dy-panel panel-title="dy-step 指令" theme="primary">
            <dy-step step-list="$ctrl.stepList" step="{{$ctrl.step}}"></dy-step>
            <button class="btn btn-primary" ng-click="$ctrl.next()">下一步</button>
        </dy-panel>
    </div>
    <!--dy-selector 指令-->
    <div ng-controller="selectorCtrl as $ctrl">
        <dy-panel panel-title="dy-selector 指令" theme="primary">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-2">字符串下拉框</label>
                    <div class="col-xs-4">
                        <dy-selector ng-model="$ctrl.a" dy-list="$ctrl.dyList" z-index="14"></dy-selector>
                    </div>
                    <div class="col-xs-6" style="line-height: 34px;">
                        选择的值为：<span ng-bind="$ctrl.a"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">对象下拉框</label>
                    <div class="col-xs-4">
                        <dy-selector ng-model="$ctrl.b" dy-list="$ctrl.dyList2" z-index="13"></dy-selector>
                    </div>
                    <div class="col-xs-6" style="line-height: 34px;">
                        选择的值为：<span ng-bind="$ctrl.b"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">简洁下拉框</label>
                    <div class="col-xs-4">
                        <dy-selector ng-model="$ctrl.a" dy-list="$ctrl.dyList" z-index="12" mode="simple"></dy-selector>
                    </div>
                    <div class="col-xs-6" style="line-height: 34px;">
                        选择的值为：<span ng-bind="$ctrl.a"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">映射下拉框</label>
                    <div class="col-xs-4">
                        <dy-selector ng-model="$ctrl.c" dy-list="$ctrl.dyList3" z-index="11"
                                     object-handle="{dyKey: 'brand', dyVal: 'encoding'}"></dy-selector>
                    </div>
                    <div class="col-xs-6" style="line-height: 34px;">
                        选择的值为：<span ng-bind="$ctrl.c"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">禁用下拉框</label>
                    <div class="col-xs-4">
                        <dy-selector disabled></dy-selector>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2"></label>
                    <div class="col-xs-4">
                        <button class="btn btn-warning" ng-click="$ctrl.selectReset()">重置</button>
                    </div>
                </div>
            </div>
        </dy-panel>
    </div>
</div>
<script src="directive/panel/panel.js"></script>
<script src="directive/selector/selector.js"></script>
<script src="directive/step/step.js"></script>
<script src="directive/tooltip/tooltip.js"></script>
<script src="./index.js"></script>
</body>
</html>