<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <link href="lib/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="directive/style/main.css">
    <style type="text/css">
        .comment {
            font-size: 14px;
        }
    </style>
</head>
<body>
<header class="navbar navbar-default">
    <div class="container">
        <h3>angularjs-directive-dy示例</h3>
    </div>
</header>
<div ng-app="test" ng-controller="testSelector" class="container">

    <!--dy-tooltip 指令事例-->
    <dy-panel panel-title="dy-tooltip 指令" theme="primary">
        <ul>
            <li><a href="javascript:;" title="这是一个指令">测试1</a></li>
            <li><a href="javascript:;" dy-tooltip data-tip="只需要在标签中引入">测试2</a></li>
            <li><a href="javascript:;" dy-tooltip data-tip="一">测试3</a></li>
            <li><a href="javascript:;" dy-tooltip data-tip="个">测试4</a></li>
            <li><a href="javascript:;" dy-tooltip data-tip="指">测试5</a></li>
            <li><a href="javascript:;" dy-tooltip data-tip="令">测试6</a></li>
        </ul>
    </dy-panel>

    <!--dy-step 指令-->
    <dy-panel panel-title="dy-step 指令" theme="primary">
        <dy-step step-list="stepList" step="1"></dy-step>
    </dy-panel>

    <!--dy-selector 指令-->
    <dy-panel panel-title="dy-selector 指令" theme="primary">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-2">字符串下拉框</label>
                <div class="col-xs-4">
                    <dy-selector ng-model="a" dy-list="dyList" z-index="14"></dy-selector>
                </div>
                <div class="col-xs-6" style="line-height: 34px;">
                    选择的值为：<span ng-bind="a"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">对象下拉框</label>
                <div class="col-xs-4">
                    <dy-selector ng-model="b" dy-list="dyList2" z-index="13"></dy-selector>
                </div>
                <div class="col-xs-6" style="line-height: 34px;">
                    选择的值为：<span ng-bind="b"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">简洁下拉框</label>
                <div class="col-xs-4">
                    <dy-selector ng-model="a" dy-list="dyList" z-index="12" mode="simple"></dy-selector>
                </div>
                <div class="col-xs-6" style="line-height: 34px;">
                    选择的值为：<span ng-bind="a"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">映射下拉框</label>
                <div class="col-xs-4">
                    <dy-selector ng-model="c" dy-list="dyList3" z-index="11" object-handle="{dyKey: 'brand', dyVal: 'encoding'}"></dy-selector>
                </div>
                <div class="col-xs-6" style="line-height: 34px;">
                    选择的值为：<span ng-bind="c"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">禁用下拉框</label>
                <div class="col-xs-4">
                    <dy-selector disabled></dy-selector>
                </div>
            </div>
        </div>
    </dy-panel>

</div>
<script src="directive/angularjs-directive-dy.min.js"></script>
<script>

    angular.module('test', ['directive.dy'])
        .controller('testSelector', function ($scope) {
            $scope.dyList = ['IOS', 'Android', 'windows phone', 'Symbian OS'];
            $scope.dyList2 = [
                {dyKey: '苹果', dyVal: '001'},
                {dyKey: '三星', dyVal: '002'},
                {dyKey: '华为', dyVal: '003'},
                {dyKey: '小米', dyVal: '004'},
                {dyKey: '锤子', dyVal: '005'}
            ];
            $scope.dyList3 = [
                {brand: '苹果', encoding: '001'},
                {brand: '三星', encoding: '002'},
                {brand: '华为', encoding: '003'},
                {brand: '小米', encoding: '004'},
                {brand: '锤子', encoding: '005'}
            ];
            $scope.step = 0
            $scope.stepList = ['第一步', '第二步', '第三步']
            $scope.next = function () {
                $scope.step++
            }
        })
</script>
</body>
</html>