.dy-tree ul {
  padding: 0;
  list-style: none;
}
.dy-tree ul li {
  position: relative;
  padding-left: 25px;
}
.dy-tree ul li .df-down {
  position: absolute;
  top: 7px;
  left: 8px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transform: rotate(-90deg);
}
.dy-tree ul li .df-down.active {
  transform: rotate(0);
}
.dy-tree ul li ul {
  margin-left: 15px;
}
.dy-tree ul div a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  border-radius: 4px;
  line-height: 26px;
  margin-top: 3px;
}
.dy-tree ul div a:hover {
  background-color: #c1ddff;
}
.dy-tree ul div a.active {
  background-color: #c1ddff;
}
.dy-tree .df.df-folder {
  color: #f7ce52;
  font-size: 20px;
}
