.dy-selector {
  position: relative;
  z-index: 10;
}
.dy-selector * {
  box-sizing: border-box;
  user-select: none;
}
.dy-selector .dy-selector-value {
  height: 34px;
  line-height: 34px;
  border: 1px solid #d9d9d9;
  padding: 0 27px 0 7px;
  border-radius: 4px;
  box-shadow: 0 0 1px #f1f1f1 inset;
  background-color: #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: not-allowed;
}
.dy-selector .dy-selector-value .dy-placeholder {
  color: #999;
}
.dy-selector .dy-selector-able {
  cursor: pointer;
  background-color: #fff;
}
.dy-selector .df-down {
  font-size: 12px;
  display: block;
  position: absolute;
  top: 8px;
  right: 10px;
  color: #d9d9d9;
  transition: all linear 0.2s;
  transform: rotate(0deg);
}
.dy-selector .df-down.rotate-up {
  transform: rotate(180deg);
}
.dy-selector .dy-selector-list {
  width: 100%;
  background-color: #fff;
  border: 1px solid #5b8fdb;
  position: absolute;
  left: 0;
  top: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px #aaa;
  overflow: hidden;
  transition: all linear 0.2s;
  max-height: 500px;
}
.dy-selector .dy-selector-list.ng-hide {
  max-height: 0;
}
.dy-selector .dy-selector-list > div {
  padding: 5px;
  position: relative;
}
.dy-selector .dy-selector-list > div input {
  width: 100%;
  margin: 0;
  padding: 0 27px 0 5px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #aaa;
  box-shadow: 0 0 3px #cfcfcf inset;
  height: 34px;
  line-height: 34px;
}
.dy-selector .dy-selector-list > div .df-search-bold {
  font-size: 19px;
  display: block;
  position: absolute;
  top: 8px;
  right: 10px;
}
.dy-selector .dy-selector-list > div svg {
  position: absolute;
  right: 12px;
  top: 5px;
}
.dy-selector .dy-selector-list > div svg path {
  fill: #696969;
}
.dy-selector .dy-selector-list > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 250px;
  overflow: auto;
}
.dy-selector .dy-selector-list > ul > li {
  height: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 5px;
}
.dy-selector .dy-selector-list > ul > li:hover {
  background-color: #ebf3fe;
}
