.dy-step {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dy-step * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dy-step li {
  background-color: #e7e7e7;
  display: inline-block;
  padding: 0 44px 0 64px;
  height: 36px;
  line-height: 36px;
  position: relative;
}
.dy-step li + li {
  margin-left: 20px;
}
.dy-step li + li:before {
  border-left: 20px solid #fff;
}
.dy-step li + li:last-child:after {
  display: none;
}
.dy-step li:before {
  content: '';
  display: block;
  border-left: 20px solid #e7e7e7;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}
.dy-step li:after {
  content: '';
  display: block;
  border-left: 20px solid #e7e7e7;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  position: absolute;
  left: 100%;
  top: 0;
}
.dy-step li:first-child.active:before {
  border-left-color: #5bb4ff;
}
.dy-step li.active {
  color: #fff;
  background-color: #5bb4ff;
}
.dy-step li.active:after {
  border-left-color: #5bb4ff;
}
