.dy-checkbox {
  position: relative;
  font-weight: normal;
  user-select: none;
  cursor: pointer;
  margin-right: 20px;
}
.dy-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.dy-checkbox .df.df-checkbox,
.dy-checkbox .df.df-checkbox-checked {
  position: relative;
  color: #337ab7;
  font-size: 16px;
}
.dy-checkbox .df.df-checkbox {
  top: 1px;
}
